[submodule "gaze"]
	path = gaze
	url = https://github.com/jlettvin/gaze
[submodule "JYL"]
	path = JYL
	url = https://github.com/jlettvin/JYL
[submodule "EmerGenTium"]
	path = EmerGenTium
	url = https://github.com/jlettvin/EmerGenTium
