body{
	background-color: #ffffcc;
	margin: 100px 40px 10px 20px;
}
nav {
	margin: 10px;
	width: 100%;
	border: 1px solid black;
	background-color: red;
	text-align: center;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
footer {
	clear: both;
	position: absolute;
	height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
	display: block;
    background-color: red;
    color: white;
    text-align: center;
}
li {
	font-size: 30px;
	text-align: left;
	color: black;
	background-color: white;
}
li.hi {
	color: red;
	background-color: white;
	text-decoration: underline;
}
li:hover {
	color: white;
	background-color: black;
	font-weight: bold;
}
li.hi:hover {
	color: #ffcccc;
	background-color: black;
	font-weight: bold;
}
article {
	margin: 10px 10px 10px 10px;
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	width: 100%;
}
section {
	visibility: hidden;
}
aside {
	visibility: hidden;
}
summary {
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	background-color: black;
	color: white;
	text-align: center;
}
.title {
}
.Heilmeier {
	visibility: hidden;
}
